@using System.Text.Json

<li>

    <Icon Name="FavoriteItem.CaretClass" Clicked="@(()=>OnClickNode(FavoriteItem))"></Icon>
    <input type="checkbox" checked="@FavoriteItem.IsChecked" @oninput="(e)=> CheckboxChanged(e, FavoriteItem)" id="c_bs_1" />
    <span>@FavoriteItem.Text</span>

    @if (FavoriteItem.Children != null && FavoriteItem.Children.Any())
    {
        <ul class="@Level @FavoriteItem.ShowOrHideUl">
            @foreach (var child in FavoriteItem.Children)
            {
               
                <FavoriteTree FavoriteItem=@child Level="@(Level + 1)"  @key=child />
            }
        </ul>
    }
</li>


@code {
    [Parameter] public Item FavoriteItem { get; set; }
    [Parameter] public int Level { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        Console.WriteLine("FavoriteItem OnParametersSetAsync {0}", JsonSerializer.Serialize(FavoriteItem));
       
    }

    private async void CheckboxChanged(ChangeEventArgs e, Item node)
    {
        Console.WriteLine("FavoriteItem CheckboxChanged node {0}", JsonSerializer.Serialize(node));
    }

    void OnClickNode(Item item)
    {
        item.ShowItem = !item.ShowItem;
        StateHasChanged();
    }
}
