
<li>

    <Icon Name="FavoriteItem.CaretClass" Clicked="@(()=>OnClickNode(FavoriteItem))"></Icon>
    <input type="checkbox" checked="@FavoriteItem.IsChecked" @oninput="(e)=> CheckboxChanged(e, FavoriteItem)" id="c_bs_1" />
    <span>@FavoriteItem.Text</span>

    @if (FavoriteItem.Children != null && FavoriteItem.Children.Any())
    {
        <ul class="@Level @FavoriteItem.ShowOrHideUl">
            @foreach (var child in FavoriteItem.Children)
            {
                var _key = "favorites_childs_" + child;
                <FavoriteTree FavoriteItem=@child Level="@(Level + 1)"  @key=child />
            }
        </ul>
    }
</li>


@code {
    [Parameter] public Item FavoriteItem { get; set; }
    [Parameter] public int Level { get; set; }



    private async void CheckboxChanged(ChangeEventArgs e, Item node)
    {
        
    }

    void OnClickNode(Item item)
    {
        item.ShowItem = !item.ShowItem;
        StateHasChanged();
    }
}
